

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

Issiakou WOROU WOUIGNANSO

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
lstv=[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [2]:
lp5=[1,2,3,4,5,6,7]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [3]:
len(lp5)

7

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [6]:
print(lp5[0])
print(lp5[3])
print(lp5[-1])

1
4
7

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [13]:
mixed_data_types=[]
mixed_data_types.append('nom') 
mixed_data_types.append('âge') 
mixed_data_types.append('taille') 
mixed_data_types.append('état civil')
mixed_data_types.append('adresse')
mixed_data_types

['nom', 'âge', 'taille', 'état civil', 'adresse']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [47]:
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies)
len(it_companies)
print(it_companies[0] , it_companies[(len(it_companies)-1)//2], it_companies[-1])
it_companies[2]='wathsapp'
print(it_companies)
it_companies.append('pivotech')
print(it_companies)
print(it_companies[1].upper())
j='# ; '.join(it_companies)
print(j)
recherchMo= [s for s in it_companies if "o" in s]
print(recherchMo)
#it_companies= list(filter(lambda x: 'Mic' in x, it_companies))
#print(it_companie)
it_companies.sort()
it_companies
it_companies.reverse()
it_companies
for i in range(0,3):
    del it_companies[i]  #supprimer les trois premiers elements de la liste
it_companies
for j in range(-3,-1):
    del it_companies[j]
del it_companies[-1]
it_companies
#for j in range(-3,0):
 #   del it_companies[j]
#print(it_companies)
# Supprime les éléments des index 1 à 2
#del it_companies[0:1]
# Afficher la nouvelle liste 
#print(it_companies)
#del it_companies[0]
#print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Facebook Apple Amazon
['Facebook', 'Google', 'wathsapp', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'wathsapp', 'Apple', 'IBM', 'Oracle', 'Amazon', 'pivotech']
GOOGLE
Facebook# ; Google# ; wathsapp# ; Apple# ; IBM# ; Oracle# ; Amazon# ; pivotech
['Facebook', 'Google', 'Amazon', 'pivotech']

['pivotech']

14. Supprimez les 3 dernières entreprises de la liste.

In [45]:
#it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
#for j in range(-3,0):
 #   del it_companies[j]
#it_companies

15. Supprimez la ou les entreprises informatiques du milieu de la liste.

In [14]:
#it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
# Supprime les éléments des index 1 à 2
#del it_companies[1:3]
# Afficher la nouvelle liste 
#print(it_companies)

['Facebook', 'Oracle', 'Amazon']

16. Supprimez la première entreprise informatique de la liste

In [16]:
#it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
#del it_companies[0]
#it_companies

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

17. Supprimez la ou les entreprises informatiques du milieu de la liste.

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [49]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
join=front_end+back_end
join

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [89]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ageTri=sorted(ages)
ageTri
#m=min(ageTri)
#M=max(ageTri)
print("l'age maximal est ",ageTri[-1],"et l'age minimal est ",ageTri[0])
#x=len(ages)/2
#print(x)
median=ageTri[5]
print(median)
som=0
for i in range(0,10):
    som+=ages[i]
ageMoyen=som/len(ages)
print(ageMoyen)
intevlMoyen=max(ages)-min(ages)
print("l'intervalle des ages est ",intevlMoyen)
a1=abs(min(ages)-ageMoyen)
a2=abs(max(ages)-ageMoyen)
if a1<a2:
    print("min - moyenne est < ages)-ageMoyen ")
else:
    print("(min - moyenne est) >= (ages)-ageMoyen) ")

l'age maximal est  26 et l'age minimal est  19
24
22.8
l'intervalle des ages est  7
(min - moyenne est) >= (ages)-ageMoyen)

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [155]:
dog={}
dog['nom']='Bio'
dog['la couleur']='noire'
dog['la race']='noire'
dog['les pattes']='kotokoto'
dog['âge']= 34
dog
student={}
student['prénom']= 'Chabi'
student['nom']= 'WOROU'
student['sexe']='Masculin'
student['âge']= 24
student['état civil']= 'cebataire'
student['competences']= ['maths et informatiques','biologie','statistique']
student['le pays']='Benin'
student[' la ville']='Cotonou'
student["l'adresse"]= "03BP143256 cotonou Rue koutoukou"
student
x=len(student)
print(x)

9

In [156]:
print(student)

{'prénom': 'Chabi', 'nom': 'WOROU', 'sexe': 'Masculin', 'âge': 24, 'état civil': 'cebataire', 'competences': ['maths et informatiques', 'biologie', 'statistique'], 'le pays': 'Benin', ' la ville': 'Cotonou', "l'adresse": '03BP143256 cotonou Rue koutoukou'}

In [157]:
print(student['competences'])
type(student['competences'])

['maths et informatiques', 'biologie', 'statistique']

list

In [158]:
student['competences'].append('endurant')
student['competences'].append('courageux')
student

{'prénom': 'Chabi',
 'nom': 'WOROU',
 'sexe': 'Masculin',
 'âge': 24,
 'état civil': 'cebataire',
 'competences': ['maths et informatiques',
  'biologie',
  'statistique',
  'endurant',
  'courageux'],
 'le pays': 'Benin',
 ' la ville': 'Cotonou',
 "l'adresse": '03BP143256 cotonou Rue koutoukou'}

In [159]:
student.keys()

dict_keys(['prénom', 'nom', 'sexe', 'âge', 'état civil', 'competences', 'le pays', ' la ville', "l'adresse"])

In [160]:
#Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
print(student.items())

dict_items([('prénom', 'Chabi'), ('nom', 'WOROU'), ('sexe', 'Masculin'), ('âge', 24), ('état civil', 'cebataire'), ('competences', ['maths et informatiques', 'biologie', 'statistique', 'endurant', 'courageux']), ('le pays', 'Benin'), (' la ville', 'Cotonou'), ("l'adresse", '03BP143256 cotonou Rue koutoukou')])

In [161]:
#Supprimer un des éléments du dictionnaire
student.pop(('prénom'))
student

{'nom': 'WOROU',
 'sexe': 'Masculin',
 'âge': 24,
 'état civil': 'cebataire',
 'competences': ['maths et informatiques',
  'biologie',
  'statistique',
  'endurant',
  'courageux'],
 'le pays': 'Benin',
 ' la ville': 'Cotonou',
 "l'adresse": '03BP143256 cotonou Rue koutoukou'}

In [163]:
dog.clear()
dog

{}

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>